form{
  background-color: rgb(201, 206, 159);
  margin-top: 10vh;
}

#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  margin: 0 10vh 10vh 10vh;
}

.button-container {
  display: flex;
  align-items: stretch;
}

mat-form-field {
  flex-grow: 1;
  margin-bottom: 16px;

  select {
    &:focus {
      
    }
  }
  textarea {
    width: 100%;
    height: 100%;
  }

  &.ng-invalid.ng-touched,
  &.ng-valid.ng-touched {
    mat-label {
      color: red;
    }
  }
}



button[mat-button] {
  width: 15px;
  margin-top: 16px;
}
