<div id="formContainer">

  <form [formGroup]="productForm">
    <mat-grid-list cols="2" rowHeight="4:1" [gutterSize]="'16px'">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Product Name</mat-label>
          <input 
            matInput 
            id="name" 
            type="text" 
            formControlName="name" 
            placeholder="Product name" 
            required
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Product Description</mat-label>
          <input 
            matInput 
            id="description"
            type="text" 
            formControlName="description" 
            placeholder="Product description"
            required
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Product Code</mat-label>
          <input 
            matInput 
            id="code" 
            type="text" 
            formControlName="code"
            placeholder="Product Code" 
            required
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Cost Price</mat-label>
          <input 
            matInput 
            id="costPrice" 
            type="text" 
            formControlName="costPrice"
            placeholder="Cost price ($0.00)"
            (blur)="formatMoney($event)" 
            (focus)="unformatMoney($event)"
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Sale Price</mat-label>
          <input 
            matInput 
            id="salePrice" 
            type="text" 
            formControlName="salePrice"
            placeholder="Sale price ($0.00)"
            (blur)="formatMoney($event)"
            (focus)="unformatMoney($event)"
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Preparation Time (in minutes)</mat-label>
          <input 
            matInput 
            id="preparationTime" 
            type="text" 
            formControlName="preparationTime"
            placeholder="00"
          >
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Product Type</mat-label>
          <mat-select id="productType" formControlName="productType">
            <mat-option value="" disabled selected>Select a product type</mat-option>
            <mat-option *ngFor="let type of productTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="3:1" [gutterSize]="'16px'">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Comments</mat-label>
          <textarea 
            matInput 
            id="comments"
            formControlName="comments" 
            placeholder="Comments"
          ></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="button-container">
      <button 
        mat-button 
        type="submit"
        (click)="sendForm()"
        [disabled]="productForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
